#background{
  width: 1920px;
  height: 1080px;
}

#gameStartButton{
  position: absolute;
  width: 200px;
  height: 100px;
  left: 1650px;
  top: 900px;
}

#homeButton{
  position: absolute;
  width: 100px;
  height: 50px;
  left: 1800px;
  top: 30px;
}

#gameChoiceButton{
  position: absolute;
  width: 100px;
  height: 50px;
  left: 1680px;
  top: 30px;
}